.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

.modal.is-open {
    display: block;
}

.modal .container {
    background-color: #fff;
    color: var(--cor-neutra-clara);
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem;
    height: 100vh;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;   
}

.modal header .fechar {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    background-image: url('../imagens/icone-fechar.svg');
    background-size: cover;
    cursor: pointer;
} 